<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title><% my_title %></title>
	
	<link rel='icon' href='../resources/img/favicon.ico' type='image/x-icon'/>

    <!-- Bootstrap core CSS -->
	<link rel="stylesheet" type="text/css" href="../resources/css/bootstrap.min.css">
  </head>
  <body>
  	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	  <a class="navbar-brand" href="home.html">
		<img class="rounded-circle" src="../resources/img/cu_boulder_logo.jpg" alt="" width="30" height="30">
	  </a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>
	</nav>
	<div class="container">
		<br>
		<br>
		<div class="row">
			<div class="col-8">
				<div class="jumbotron">
				  <h1 class="display-4">Sign in to GreenThumb</h1>
					<hr>
				  <p> Source for Image: <a href="https://www.cubookstore.com/p-80451-colorado-buffaloes-mini-speed-football-helmet.aspx">CU Bookstore</a> </p>
					<hr>
					
					<p> Color Message: 
					<% if(color)
						{%>
						<%- color_msg %>
						<% var script_text = '<script>document.body.style.backgroundColor = "#' + color + '";</script>'; %>
						<%- script_text %>
	 				<% }%>
					</p>

					<form action="/home/pick_color" method="post">
						<div class="form-group row">
							<label class="col-sm-2 col-form-label" for="color_hex">Color Hex Value:</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" name="color_hex" id="color_hex"  placeholder="					Enter Hex Value" maxlength="6">
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-2 col-form-label"  for="color_name">Color Name:</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" name="color_name" id="color_name" placeholder="Enter Color's Name">
							</div>
						</div>
						<div class="form-group row">
							<label  class="col-sm-2 col-form-label" for="color_message">Color Message:</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="color_message" name="color_message"placeholder="Enter the Color's Description">
							</div>
						</div>
						<button type="submit" class="btn btn-primary btn-block">Submit
					</form>

					<form action="/home/pick_color" method="get">
						<% 
						if (data) { 
						    var buttons = '';
							data.forEach(function(item){
						  		 buttons += '<button type="submit" name="color_selection" class="btn btn-block" style=						"background-color:#' + item.hex_value + '" value="' + item.hex_value + '">';
								if(item.name){ 
							       buttons += item.name + '</button>'; 
							   	} 
							    else{ 
							    	buttons += item.hex_value + '</button>';
								} 
						  	 }); %>
						  	 <%- buttons %> 
						<% } %>
				  	</form>
				</div>
			</div>
		</div>
	</div>
  
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
	<script src="../resources/js/my_scripts.js"></script>
</body>
</html>