<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../../resources/css/bootstrap.min.css">  
    <link rel="stylesheet" type="text/css" href="../resources/css/signin.css">

    <title>Login Page</title>   

    <form class="form-signin">
	  <h1 class="h3 mb-3 font-weight-normal">Sign in to GreenThumb</h1>
	  <label for="inputEmail" class="sr-only">Email address</label>
	  <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
	  <label for="inputPassword" class="sr-only">Password</label>
	  <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
	 
	  <button class="btn btn-lg btn-primary" type="submit">Sign in</button> <div class="checkbox mb-3">
      <a href="">Forgot Password?</a>
    </div>
    <a class="btn btn-lg btn-primary" href="#accountModal" class="btn btn-info" data-toggle="modal" onclick="openModal()">Create an account</a>
	</form>

  <!-- Modal HTML -->
  <div id="accountModal" class="modal fade">
    <div class="modal-dialog modal-login">
      <div class="modal-content">
        <div class="modal-header">
          <div class="avatar">
            <img src="https://www.tutorialrepublic.com/examples/images/avatar.png" alt="Avatar">
          </div>
          <h4 class="modal-title">Sign Up page</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <input type="text" class="form-control" name="firstName" placeholder="First Name"
              required="required">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="lastName" placeholder="Last Name"
              required="required">
          </div>
          <div class="form-group">
            <input id="psw" type="password" class="form-control" name="password" placeholder="Password"
              required="required">
          </div>
          <div class="form-group">
            <input id="cpsw" type="password" class="form-control" name="confirm password"
              placeholder="Confirm Password" required="required">
          </div>
          <div class="form-group">
            <button id="my_submit_button" class="btn btn-primary btn-block login-btn" disabled
              onClick="onClickFunction()">Sign Up</button>
          </div>
        </div>
        <div class="modal-footer">
          <div id="message" style="display:block">
            <h3>Password must contain the following:</h3>
            <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
            <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
            <p id="number" class="invalid">A <b>number</b></p>
            <p id="length" class="invalid">Minimum <b>8 characters</b></p>
            <p id="match" class="invalid">Password and Confirm Password Match</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    function openModal() {
    var myInput = document.getElementById("psw");
    var confirmMyInput = document.getElementById("cpsw");
  var letter = document.getElementById("letter");
  var capital = document.getElementById("capital");
  var number = document.getElementById("number");
  var length = document.getElementById("length");    
    var match = document.getElementById("match");


  // When the user starts to type something inside the password field
  myInput.onkeyup = function() {
       console.log('helllooo')
        
        /* TODO: Question 1.1: Starts here */
        var lowerCaseLetters = /.*[a-z]/g; // : Fill in the regular experssion for lowerCaseLetters
        var upperCaseLetters = /.*[A-Z]/g; // : Fill in the regular experssion for upperCaseLetters
        var numbers = /.*[0-9]/g; // : Fill in the regular experssion for digits
        var minLength = 8; // : Change the minimum length to what what it needs to be in the question 
        /* TODO: Question 1.1: Ends here */
        

        /* TODO: Question 1.2:  Starts here */
         /*
         - So first read up on classList.  
         - Perform a console.log(letter.classList) and check the array that you see. By default the first time, there should be just 1 element and it should be
         "invalid". "invalid" is a class that is present in login.css. 
         - Below, there are a bunch of if blocks and else blocks.
         - Each if block means that some successful condition is satisfied for our password conditon. So the red cross need to be converted to a check mark.
         - Each else block stands for a failed condition, so the green check mark needs to be a red cross again.
         - All that you need to do is, in each of the blocks, fill in the correct classNames for the remove and the add methods.
         */

        // Validate lowercase letters
        if(myInput.value.match(lowerCaseLetters)) {             
            letter.classList.remove("invalid"); 
            letter.classList.add("valid");
        } else {
            letter.classList.remove("valid"); 
            letter.classList.add("invalid");
        }

        // Validate capital letters        
        if(myInput.value.match(upperCaseLetters)) {          
            capital.classList.remove("invalid"); 
            capital.classList.add("valid");
        } else {
            capital.classList.remove("valid"); 
            capital.classList.add("invalid");
        }

        // Validate numbers        
        if(myInput.value.match(numbers)) {          
            number.classList.remove("invalid"); 
            number.classList.add("valid");
        } else {
            number.classList.remove("valid"); 
            number.classList.add("invalid");
        }

        // Validate length
        if(myInput.value.length >= minLength) {   
            length.classList.add("invalid");
            length.classList.remove("valid"); 
        } else {
            length.classList.add("valid");      
            length.classList.remove("invalid"); 
        }
        /* TODO: Question 1.2:  Ends here */
    }
    /* TODO Question 1.3: Starts here */
    confirmMyInput.onkeyup = function() {
                // Validate password and confirmPassword
                var passEqualsConfPass = (myInput.value == confirmMyInput.value); // TODO: Change this to the condition that needs to be checked so that the text entered in password equals the text in confirm password
                if(passEqualsConfPass) { 
                    match.classList.remove("invalid"); 
                    match.classList.add("valid"); 
                } else {
                    match.classList.remove("valid"); 
                    match.classList.add("invalid"); 
                }        
    /* TODO Question 1.3: Starts here */

                // Disable or Enable the button based on the elements in classList
                enableButton(letter, capital, number, length, match);
    }
}


function enableButton(letter, capital, number, length, match) {
    // TODO: Clear this function for students to implement    
    var button = document.getElementById('my_submit_button');
    var condition = (letter.classList.contains("valid") && capital.classList.contains("valid") && number.classList.contains("valid") && length.classList.contains("valid") && match.classList.contains("valid")); // TODO: Replace false with the correct condition
    if(condition) {       
            button.disabled = false;
        }
    else{
        button.disabled = true;
    }        
}    


function onClickFunction() {
    alert("Hey! I'm all green! Well done.")
}
  </script>
</body>
</html>